
<div class="row">
    <div class="col-md-3">
        @Html.Action("Categoryes");
    </div>

    <div class="col-md-9">
        @foreach (var item in ViewBag.CategoryDet)
            {
            <div class="col-lg-4" ;>
                <div class="well well-sm container indexCategory" >
                    <div><p class="NameFont"><b> @item.Name</b> </p></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <img src="@item.Url" height="190px" width="130px" />
                            <p class="PriceFont"><b>Цена: @item.Price руб</b></p>

                        </div>
                        <div class="col-lg-6 AllProducts" >
                            <p>Издательство: @item.Brand</p>
                            <p>Дата Выхода: @item.Date.Year</p>
                            <p> @Html.ActionLink("Подробнее", "Description", new { id = item.Id })</p>
                            <p>@Html.ActionLink("В корзину", "ShopingCart", "Shoping", new { id = item.Id }, null)</p>
                            <p><button type="button" class="btn btn-success">Купить</button></p>
                        </div>




                    </div>
                </div>
            </div>
        }

    </div>
</div>
@{
    Layout = "~/Views/Shared/_LayoutForIndex.cshtml";
}

