@model PagedList.IPagedList<ComicsStores.Models.Product>

@using PagedList.Mvc;

@using Vereyon.Web;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="row">

    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        @Html.Action("Categoryes")
    </div>
   
    @using (Html.BeginForm("Order", "Shoping"))
    {

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
            @Html.RenderFlashMessages()
            @Html.ActionLink("Name", "Index", "home", "", new { sortOrder = ViewBag.NameSortParm })
            @Html.ActionLink("Date", "Index", "", "home", new { sortOrder = ViewBag.DateSortParm })
            @Html.ActionLink("Price", "Index", "home", "", new { sortOrder = ViewBag.PriceSortParm })
           @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                    <div class="well well-sm container indexCategory">
                        <div><p class="NameFont"><b> @item.Name</b> </p></div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img class="img-rounded" src="@item.Url" height="190px" width="130px" />
                                <p class="PriceFont"><b>Цена: @item.Price руб</b></p>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6  AllProducts">

                                <p>Издательство: @item.Brand</p>
                                <p>Дата Выхода: @item.Date.Year</p>
                                <p> @Html.ActionLink("Подробнее", "Description", new { id = item.Id })</p>
                                <p>@Html.ActionLink("В корзину", "ShopingCart", "Shoping", new { id = item.Id }, null)</p>
                                <input type="hidden" value="@item.Id" name="id" />
                                <form action="" method="post">
                                    <div><a href="/Shoping/OrderFast/@item.Id" class="btn btn-success">Купить</a></div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    }

</div>

<div class="row">
    <div style="display:block" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"> @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</div>
</div>

@{
    Layout = "~/Views/Shared/_LayoutForIndex.cshtml";
}
